
body {
  color: #000000;
  text-align: center;
  font-size: 15px;
    line-height: 24px;
}


form {
  display: flex;
  width: 450px;

}

header {
  width: 100%;
}

.header {
  display: flex;
}

.header h1{
  font-family: Inter;
  font-style: normal;
  font-weight: 800;
  font-size: 62px;
  line-height: 80px;
  /* or 129% */
  font-feature-settings: 'salt' on, 'liga' off;
  /* Text / Gray 900 */
  color: #18191F;
  text-align: left;
    width: 400px;}


.description {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  /* or 178% */
  font-feature-settings: 'salt' on, 'liga' off;
  /* Text / Gray 900 */
  color: #18191F;
}

.input {
  display: flex;
  align-items: center;
}

.button {
  height: 44px;
  border: none;
}
  
input[type=email] {
  width: 60%;
  height: 47px;
  background: #FDFCFB;
  font-family: inherit;
  color: #737373;
  letter-spacing: 1px;
  text-indent: 5%;
  border-radius: 5px 0 0 5px;
}

input[type=submit] {
  padding-right:100px;
  background-color: #7000FF;
  height: 48px;
  width: 194px;
  color: #fff;
  border-radius: 6px;
  align-items: center;
  padding: 12px 32px;
}


input:focus {
  outline: none;
  box-shadow: 0 0 2px #ccc;
}


.message {
  opacity: .64;
  margin-bottom: 80px;
  display: block;
  width: 655px;
  padding-top: 100px;
  text-align: left;
  margin-left: 100px;
}

.col-sm-6 .sub-title{
  font-size:24px;
  opacity: .64;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 100px;
}


.col-sm-6 .more-info p {
  font-size: 17px;
  opacity: .64;
  text-align: left;
}

.col-sm-2 .more-info p {
  font-size: 17px;
  opacity: .64;
  margin-right: 10%;
  text-align: left;
}


.col-sm-2 img{
  width: 350px;
  float: left;
}

article:first-child .col-sm-6, article:last-child .col-sm-6{
  float: right;
}

article {
  margin: 0 100px;
  font-family: Inter;
  font-size: 16px;
  line-height: 24px;
}

.top-navigation{
  height: 72px;
  background-color: #fff;
  box-shadow: 0px 1px 0px #E5E9F2;
}

.logo {
  position: absolute;
  left: 100px;
  top: 7px;
  width: 50px;
}

.top-nav-menu{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  padding-top:12px;
  padding-right:100px;
}

.top-nav-menu ul {
  display: flex;
  list-style: none;
}

.top-nav-menu ul li{
  padding-top:15px;
  padding-right:55px;
font-style: normal;
font-weight: bold;
font-size: 15px;
line-height: 20px;
/* identical to box height */

letter-spacing: -0.468947px;

color: #696871;
}

.top-nav-btn{
  padding-right:100px;
  background-color: #7000FF;
  height: 48px;
  width: 194px;
  color: #fff;
  border-radius: 6px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 32px;
}

.header-text {
  margin: 100px 100px 0 100px;
}

.header-text p {
  text-align: left;
}


.header-image{
  width: 70%;
}

.header-image img {
  width:500px;
  position:absolute;
  top:120px;
  right:100px;
}


.subscribe {
  position: absolute;
  display: block;
  left:100px;
  margin-top:20px;
}



.main-content {
  display: flex;
  flex-direction: column;
}


.main-content img{
  width: 500px;
}


.start {
  margin-top:20px;
}