.bank-container {
  margin-left: 3%;
  display: grid;
  height: 655px;
  align-content: start;
  grid-template-columns: auto auto auto;
  grid-gap: 20px;
  padding: 10px;
  overflow: scroll;
}
// magardich
.bank-item {
  display: flex;
  text-align: center;
  padding: 20px 0;
  background: #f2f2f2;
  border-radius: 25px;
  width: 174px;
  height: 69px;
}

.bank-name{
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  margin: auto 5%;
  font-size: 80%;
}

.bank-item:hover{
  border-style: solid;
  border-color: #9031DB;
  cursor: pointer;
  background-color: #e8d4f7;
}
