@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Manrope:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&display=swap");

.transactions-table {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 80vh;
  width: 80%;
  border-radius: 8px;
  background-color: white;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;

  .headings {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #f9f9fa;
    margin-top: 3%;
    border-radius: 16px;
    p {
      font-family: "DM Sans", "sans-serif";
      font-size: 12px;
      letter-spacing: 1px;
      flex-basis: 11%;
      text-align: center;
      text-transform: uppercase;
      line-height: 20px;
    }
  }

  ul {
    display: flex;
    height: 100%;
    flex-direction: column;
    overflow: auto;
    justify-content: flex-start;
    // li:nth-child(n + 9) {
    //   display: none;
    // }
    .transaction-row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      p {
        text-align: center;
        flex-basis: 11%;
        overflow: ellipsis;
      }

      .transaction-date {
        font-size: 12px;
        font-family: "Inter", "sans-serif";
        font-weight: 500;
        color: #84818a;
      }
      .transaction-source {
        font-size: 12px;
        font-family: "Inter", "sans-serif";
        font-weight: 500;
      }
      .transaction-type {
        text-transform: capitalize;
        font-family: "Manrope", "sans-serif";
        font-weight: 600;
        font-size: 12px;
        border-radius: 4px;
        padding: 5px;
      }
      .transaction-amount {
        font-family: "Inter", "sans-serif";
        font-weight: 500;
        font-size: 12px;
        color: #272930;
      }
      .transaction-asset {
        font-size: 12px;
        font-family: "Inter", "sans-serif";
        font-weight: 500;
      }
    }
  }
}

.view-all-button {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 5%;
  padding-top: 5%;
  transition: 0.3s;
  p {
    font-size: 14px;
    font-weight: 600;
    color: #9031db;
    margin: 0;
    margin-right: 5%;
    line-height: 12.5px;
  }
  svg {
    margin: 0;
    padding: 0;
  }
}

ul {
  padding: 0;
}
