.chart-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chart img {
  object-fit: cover;
  width: 100%;
  height: auto;

}

.notifications img {
  object-fit: cover;
  width: 100%;
  height: auto;
}

.chart {

  box-shadow: 0 23px 44px 0 #B0B7C324;
  background: #FFFFFF;
}

.notifications {

  box-shadow: 0 23px 44px 0 #B0B7C324;
  background: #FFFFFF;
}