.dashboard-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.container {
  flex: 1;
}
.has-transactions:hover {
  color: aqua;
  cursor: pointer;
}

.has-transactions {
  color: brown;
}

