@import url("https://fonts.googleapis.com/css2?family=Inter&family=Manrope:wght@400;500;700&display=swap");

.dashboard-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2%;
}
//.dashboard-container div:nth-child(2){
//  width: 315px;
//
//}
.data-source-container {
  display: grid;
  grid-column-gap: 3%;
  grid-row-gap: 3%;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 48.5% 48.5%;
  justify-items: center;
  align-content: center;
  flex-basis: 70%;
}
.has-transactions:hover {
  color: aqua;
  cursor: pointer;
}

.has-transactions {
  color: brown;
}

.recent-transactions {
  overflow: hidden;
  .recent-transactions-header {
    font-family: "Manrope", "sans-serif";
    font-weight: 600;
    font-size: 16px;
    border-bottom: 1px solid #f2f2f2;
    padding-bottom: 5%;
    padding-left: 10%;
    margin-bottom: 0;
  }
  .transaction-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 14px;
    :nth-child(2) {
      color: #84818a;
      font-weight: 400;
      font-size: 12px;
      margin-top: 2%;
    }
    p {
      margin: 0;
    }
  }
  li:first-of-type {
    border-top: 0;
  }
  li {
    border-top: 1px solid #f2f2f2;
    padding-top: 5%;
    padding-bottom: 5%;
    display: flex;
    justify-content: space-evenly;
  }
}

.data-source {
  box-shadow: 0 23px 44px 0 #b0b7c324;
  border-radius: 8px;
  background-color: white;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 100%;
  ul {
    padding-top: 5%;
    .asset-root:nth-child(odd) {
      background-color: #f8f8f9;
    }
    .asset-root {
      :hover {
        .data-source-asset {
          color: #9031db;
        }
      }
    }
    p,
    li {
      font-family: "Inter", "sans-serif";
      font-weight: 500;
      font-size: 14px;
    }
    .data-source-asset {
      cursor: pointer;
      transition: 0.3s;
    }
  }
}

.data-source-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  ul {
    flex-basis: 83%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    div:nth-child(n + 6) {
      display: none;
    }
  }
}

.asset-root {
  border-radius: 12px;
  margin-left: 2%;
  margin-right: 2%;
  display: flex;
  justify-content: center;
}

.asset-line {
  display: flex;
  justify-content: space-between;
  width: 75%;
  align-items: center;
}

.data-source-header {
  display: flex;
  justify-content: space-evenly;
  border-bottom: 1px solid #f2f2f2;
  :first-child {
    border-right: 1px solid #f2f2f2;
    padding-right: 5%;
    font-family: "Manrope", "sans-serif";
    font-weight: 400;
  }
}

.data-source-total {
  font-family: "Inter", "sans-serif";
  font-weight: 600;
  font-size: 16px;
}

.expand-button {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  padding-bottom: 10%;
  justify-content: center;
  transition: 0.3s;
  p {
    font-size: 14px;
    font-weight: 600;
    color: #9031db;
    margin: 0;
    margin-right: 5%;
    line-height: 12.5px;
  }
  svg {
    margin: 0;
    padding: 0;
  }
}

ul {
  padding: 0;
}

.recent-transactions-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  ul {
    display: flex;
    flex-direction: column;
    flex-basis: 80%;
    li:nth-child(n + 10) {
      display: none;
    }
  }
  .expand-button {
    padding-bottom: 10%;
  }
  .amount-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    font-size: 14px;
    :nth-child(2) {
      color: #84818a;
      font-weight: 400;
      font-size: 12px;
      margin-top: 2%;
    }
    p {
      margin: 0;
    }
  }
}

.transactions {
  flex-basis: 24.5%;
  height: 800px;
}

.add-source-font {
  font-family: "Manrope", "sans-serif";
  font-weight: 700;
  font-size: 20px;
}

.button-main-big {
  background: #9031DB;
  border-radius: 32px;
  width: 243px;
  height: 78px;
  color: white;
  font-family: Manrope;
  font-weight: 600;
  font-size: 1.5em;
  text-align: center;
}

.button-main-big:hover {
  background: #5906b8;
  cursor: pointer;
}

.button-main-small {
  background: #9031DB;
  border-radius: 32px;
  width: 109px;
  height: 31px;
  color: white;
  font-family: Manrope;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
}

.button-main-small:hover {
  background: #5906b8;
  cursor: pointer;
}

.buttons-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-gap: 10px;
  margin-top: 50%;
}

.form-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25%;
  grid-gap: 20px;
  font-size: 20px;
}

.form-input {
  width: 50%;
  height: 30px;
  border-radius: 20px;
}
