@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

.dashboard-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2%;
}
//.dashboard-container div:nth-child(2){
//  width: 315px;
//
//}
.data-source-container {
  display: grid;
  grid-column-gap: 3%;
  grid-row-gap: 3%;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 48.5% 48.5%;
  justify-items: center;
  align-content: center;
  flex-basis: 70%;
}
.has-transactions:hover {
  color: aqua;
  cursor: pointer;
}

.has-transactions {
  color: brown;
}

.data-source {
  box-shadow: 0 23px 44px 0 #b0b7c324;
  border-radius: 8px;
  background-color: white;
  width: 100%;
  ul {
    padding-top: 5%;
    .asset-root:nth-child(odd) {
      background-color: #f8f8f9;
    }
    .asset-root {
      :hover {
        .data-source-asset {
          color: #9031db;
        }
      }
    }
    p,
    li {
      font-family: "Inter", "sans-serif";
      font-weight: 500;
      font-size: 14px;
    }
    .data-source-asset {
      cursor: pointer;
      transition: 0.3s;
    }
  }
}

.asset-root {
  border-radius: 12px;
  margin-left: 2%;
  margin-right: 2%;
}

.asset-line {
  display: flex;
  justify-content: space-evenly;
}

.data-source-header {
  display: flex;
  justify-content: space-evenly;
  border-bottom: 1px solid #f2f2f2;
  :first-child {
    border-right: 1px solid #f2f2f2;
    padding-right: 5%;
  }
}

.data-source-total {
  font-family: "Inter", "sans-serif";
  font-weight: 600;
  font-size: 16px;
}

ul {
  padding: 0;
}
.transactions {
  flex-basis: 24.5%;
  height: 800px;
}
