ul {
  list-style: none;
  margin: 0;
}


.header {
  background: #ffffff;
  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.07);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top-left-radius: 0.6rem;
  border-top-right-radius: 0.6rem;
  padding: 0 2%;
  flex-direction: row;
  flex-wrap: wrap;
}
.menu-image-container {
  flex-basis: 50%;
  display: flex;
  justify-content: space-between;
  //padding: 2% 0;
}
.header-link p{
  margin:0
}

.header-link {
  text-decoration: none;
  transition: 0.3s;
  :hover {
    color: #9031db;
  }
}

.user-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-basis: 39%;
}

.k-dropdown .k-dropdown-wrap,
.k-dropdowntree .k-dropdown-wrap {
  border-radius: 32px;
  background-color: white;
  border: 1px solid #f7f7f7;
  padding: 5%;
}

.k-i-arrow-s::before {
  content: url("../images/double-arrow.svg");
}
.menu-border-true{
  border-bottom: 3px solid #9031db;
}
.menu-border-false{
  border-bottom: 3px solid white;
}
.menu-rooter li{
  display: flex;
  height: 100%;
  align-items: center;
}
//.header-link{
//  vertical-align: center;
//}
.menu-rooter {
  display: flex;
  justify-content: space-between;
  flex-basis: 62%;
  align-items: center;
  height: 90px;
}

.menu-rooter a {
  font-family: DM Sans, sans-serif;
  font-style: normal;
  font-weight: 700;
  color: #969aa4;
}

.img-container {
  flex-basis: 25%;
  display: flex;
  align-items: center;
}
.borderline {
  height: 35px;
  align-self: center;
  border-right: 1px solid;
  border-image: linear-gradient(
      to bottom,
      rgba(151, 151, 151, 1),
      rgba(151, 151, 151, 0)
    )
    1 100%;
}

.img-container img {
  object-fit: cover;
  width: auto;
  height: auto;
}
